<h2>Trip Reports for {{year}}</h2>

<p><a ui-sref='tripreports.years'><span class="li_link">Back to list of years</span></a></p>

<loading></loading>

<ul class='list-unstyled'>
    <ul>
        <li ng-repeat="trip in triplist" class="li_link">
            <!--<a ng-href="../index.php/trip-reports?goto=tripreports%2F{{trip.id}}" ng-click="navigateToTripReport($event, trip.id)">{{trip.date_display}}: {{trip.title}}</a>-->
            <nav-to-state name="tripreports.show" params="{ tripId: {{trip.id}} }">{{trip.date_display}}: {{trip.title}}</nav-to-state>
        </li>
    </ul>
</ul>

<p><a ui-sref='tripreports.years'><span class="li_link">Back to list of years</span></a></p>
