<h2 class="cards-title">Recent Trip Reports</h2>

<loading></loading>

<div class="card-deck mb-3" ng-repeat="row in range(numRows)">
    <nav-to-state name="tripreports.show" params="{ tripId: {{tripreports[row*3 + col].id}} }" 
      ng-repeat="col in range(numCardsInRow(row))"
      class="card mx-1 p-0">
      <img class="card-img-top" 
        src="{{site.imageurl}}/dbcroppedimage.php?id={{tripreports[row*3 + col].image_id}}&width=400&ratioLong=3&ratioShort=2" />
      <div class="card-body">
        <h3 class="card-title report-card-title">{{tripreports[row*3 + col].title}}</h3>
        <ul class="list-inline report-card-details mb-0">
          <li class="list-inline-item"><i class="fa fa-user" aria-hidden="true"></i> {{tripreports[row*3 + col].uploader_name}}</li>
          <li class="list-inline-item"><i class="fa fa-calendar" aria-hidden="true"></i> {{tripreports[row*3 + col].date_display}}</li>
        </ul>
      </div>
  </nav-to-state>
</div>