/* Greatly simplified version of Joomla Beauty's CityAtNight style sheet */

@media screen, projection {
    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
        line-height: 1.3em;
    }

    img {
        border: none;
    }

    p {
        margin-top: 0.7em;
    }

    .richardstripreport p {
         margin-top: 0em;
         text-indent: 20px;
    }

    li {
        margin-left: 30px;
    }

    hr {
        margin-top: 10px;
        margin-right: 7px;
        height: 2px;
        color: #CCCCCC;
        background-color: #CCCCCC;
    }

    body {
        background-color: #F4F3EF;
        /* text-align: center; /* IE non-centering bug workaround */
        font-family: Verdana, sans-serif;
        padding-top: 10px;
        font-size: 75%;
        line-height: 1.3em;
    }

    #wholepage {
        margin-left: auto;
        margin-right: auto;
        width: 812px;
        background-image: url(../images/bg.jpg);
        background-repeat: repeat-y;
        text-align: left;  /* The other bit of the IE non-centering bug workaround */
    }

    #header {
        height: 130px;
        background-image: url(../images/header_bg.jpg);
    }

    #topnavbar {
        width: 775px;
        margin-left: 20px;
        margin-bottom: 5px;
        background-color: #669934;
    }

    div#topnavbar ul, div#topnavbar li {
        list-style: none;
    }

    #left {
        float: left;
        display: inline; /* IE double-margin bug fix */
        width: 170px;
    }

    /*
    html>body #left {
        width: 170px;
    }
    */

    #middle {
        overflow: auto;
    }

    #contents {
        float: right;
        width: 565px;
        margin-right: 35px;
        display: inline; /* IE double-margin bug fix */
    }

    #footer {
        height: 27px;
        background-image: url('../images/logo.transp.gif');
        background-position: right;
        background-repeat: no-repeat;
        font-size: 80%;
        width: 755px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: auto;
        background-color: #F2F2F2;
        border-top: #669934 solid 1px;
        border-bottom: white solid 7px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 3px;
    }

    /*
    html>body #footer {
        height: 27px;
        width: 755px;
    }
    */

    #searchbox {
        margin-top: 20px;
        margin-left: 15px;
        padding-left: 575px;
    }

    .clearer {
        clear: both;
    }



    /* ---------- h1, h2, h3, h4, h5 ---------- */

    h1 {
        font-family: arial, sans-serif;
        font-weight: bold;
        color: #669933;
        font-size: 140%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    h2 {
        font-family: arial, sans-serif;
        font-weight: bold;
        color: #669933;
        font-size: 130%;
        display: block;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    h3 {
        font-weight: bold;
        font-family: arial, sans-serif;
        font-size: 120%;
        display: block;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    h4 {
        font-family: arial, sans-serif;
        font-weight: bold;
        font-size: 110%;
        color: #669933;
        display: block;
        margin-top: 10px;
    }

    h5 {
        font-family: arial, sans-serif;
        font-weight: bold;
        font-size: 100%;
        margin-top: 0.5em;
    }


    /* ---------- tables --------------- */
    table {
        font-size: 1em;  /* Fix IE screw up (not inheriting body font styles */
    }

    table #members {
        margin-top: 8px;
    }


    /* ---------- navigation ---------- */

    input[type="submit"]:hover, button:hover {
        background-color:#ffffd0;
        color:black;
    }

    button, input[type="submit"] {
        border-radius: 5px;
        padding: 3px;
    }

    a {
        color: #669933;
        text-decoration: underline;
    }

    a.thumb img {
        border: #669933 solid 2px;
    }

    a:hover {
        color: black;
        text-decoration: none;
    }

    a.mainlevel {
        color: black;
        display: block;
        line-height: 200%;
        border-top: 1px solid #999999;
        text-decoration: none;
        padding-left: 15px;
    }

    a.mainlevel:hover {
        background-color: #FFFFFF;
    }

    table tr:first-child a.mainlevel {
        border-top: none;
    }

    a.sublevel {
        display: block;
        color: black;
        font-size: 90%;
        line-height: 170%;
        text-decoration: none;
        padding-left: 27px;
        border-bottom: 2px;
        background: url('../images/arrow.jpg') no-repeat left;
    }

    a.sublevel:hover {
        background: url('../images/arrowsel.jpg') no-repeat left;
        background-color: #FFFFFF;
    }

    a.mainlevel-nav:link, a.mainlevel-nav:visited {
        display: block;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-right: 2px solid #8BB023;
        color: #ffffff;
        font-weight: normal;
        text-decoration: none;
    }

    a.mainlevel-nav:hover {
        display: block;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-right: 2px solid #8BB023;
        background-color: #8BB023;
        color: #ffffff;
        font-weight: normal;
        text-decoration: none;
    }

    a.mainlevel-footer:link, a.mainlevel-footer:visited {
        color: black;
        text-decoration: underline;
        padding-right: 5px;
        border-right: 1px solid #333333;
        margin-right: 5px;
    }

    a.mainlevel-footer:hover {
        color: #669933;
        text-decoration: underline;
        padding-right: 5px;
        border-right: 1px solid #333333;
        margin-right: 5px;
    }

    a.contentpagetitle {
        font-size: 75%;
    }


    td a {
        line-height: 130%; /* Space out tables of anchors */
    }

    #active_menu {
        color: #8BB023;
        font-weight: bold;
    }

    .back_button {
        margin-top: 1em;
        margin-bottom: 1em;
    }



    /*-----modules-----*/

    .moduletable {
        margin-right: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-right: 5px;
        border-bottom: 2px solid #669933;
        border-top: 1px solid #669933;
        background-color: #F2F2F2;
        margin-left: 20px;
        width: 155px;
    }

    /*
    html>body .moduletable {
        width: 155px;
    }
    */

    #bottom .moduletable {
        margin-left: 0px;
        padding-left: 10px;
        width: 540px;
    }

    /*
    html>body #bottom .moduletable {
        width: 540px;
    }
    */

    .moduletable h3 {
        font-size: 120%;
        font-weight: bold;
        margin-top: 7px;
    }

    .moduletable-top {
        padding-top: 2px;
    }

    .moduletable-top h3 {
        display: none;
    }

    .moduletable-user4 h3 {
        display: block;
        border-bottom: 1px solid #669933;
    }

    .moduletable-user2 {
        display: block;
        float: left;
        margin-left: 5px;
    }

    .moduletable-user2 h3 {
        display: block;
        border-bottom: 1px solid #669933;
    }

    .moduletable-user1 {
        display: block;
        float: left;
        margin-right: 5px;
    }

    .moduletable-user1 h3 {
        display: block;
        border-bottom: 1px solid #669933;
    }


    /*-----content-----*/


    li {
        margin-top: 0.3em;
    }

    ul {
        margin-bottom: 0.5em;
    }

    .componentheading {
        font-weight: bold;
        color: #669933;
        font-size: 160%;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .contentheading {
        font-family: arial, sans-serif;
        font-weight: bold;
        color: #669933;
        font-size: 170%;
        padding-top: 5px;
        padding-bottom: 8px;
    }


    .small, .createdate, .modifydate {
        font-size: 75%;
        text-align: right;
        color: #8BB023;
    }

    .pagenavcounter {
        color: #8BB023;
        font-size: 100%;
    }

    .contenttoc {
        background-color: #f7f7f7;
        border: 1px solid #cccccc;
        padding: 5px;
        margin: 5px;
    }

    .contenttoc th{
        background-color: #8BB023;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .sectiontableheader {
        background-color: #8BB023;
        color: #ffffff;
    }

    .sectiontableentry1 {
        background-color: #f7f7f7;
    }

    .sectiontableentry2 {
        background-color: #e7e7e7;
    }

    table.contentpaneopen {
        width: 100%;
    }

    .contentdescription {
        padding-bottom: 10px;
    }

    /* Trip Reports */
    div.tripreport {
        text-align: justify;
        margin-right: 20px;
    }

    div.tripreport h1 {
        font-family: arial, sans-serif;
        font-weight: bold;
        color: #669933;
        font-size: 150%;
        padding-top: 0px;
        margin-top: 5px;
        padding-bottom: 8px;
    }

    div.tripreport h2 {
        font-family: arial, sans-serif;
        font-weight: bold;
        font-size: 110%;
        color: #669933;
        display: block;
        margin-top: 10px;
    }

    ul.listReportYears {
           padding-top: 20px;
    }

    /*-----forms-----*/

    form input {
        border: 1px solid #666666;
        background-color: #ffffff;
        margin: 1px;
        padding: 2px;
    }

    form input.submit {
        border: 1px solid #333333;
        background-color: #ece9d8;
        font-size: 120%;
        font-weight: bold;
        margin: 3px;
    }

    form input.loginBox {
        width: 140px;
    }

    .inputbox {
        border: 1px solid #666666;
        background-color: #ffffff;
        margin-bottom: 5px;
    }

    .button {
        border: 1px solid #333333;
        background-color: #f7f7f7;
        color: #232323;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    form button.addResource {
        border: 1px solid #aaaaaa;
    }

    form select.selectday {
        width: 50px;
    }

    form select.selectmonth {
        width: 100px;
    }


    textarea {
        border: 1px solid #666666;
        padding: 5px;
        width: 95%;
        font-family: Verdana, sans-serif;
        font-size: 100%;
    /*  font-family: Courier New, monospace;
        font-size: 100%;
        line-height: 1.1em; */
    }

    /*-----others-----*/

    .back_button {
        margin-top: 12px;
    }

    /* mosimage css from rhuk_solarflare */
    div.mosimage {
      border: 1px solid #ccc;
    }

    .mosimage {
      border: 1px solid #cccccc;
      margin: 5px
    }

    .mosimage_caption {
      margin-top: 2px;
      background: #efefef;
      padding: 1px 2px;
      color: #666;
      font-size: 10px;
      border-top: 1px solid #cccccc;
    }

    /* tripimage stuff */

    div.mostripthumb {
        width: 170px;
    }

    div.pictorialreportthumb {
        width: 380px;
    }

    div.mostripthumb, div.mostripfullimage,
        div.pictorialreportthumb {
      border: 1px solid #ccc;
      text-align: center;
      float: left;
      padding: 2px;
      margin: 2px;
      overflow: hidden;
    }

    div.mosttripthumb p {
      width: 168px;
    }

    div.mostripthumb p, div.pictorialreportthumb p { /* The caption */
      margin-top: 2px;
      background: #efefef;
      color: #444;
      font-size: 10px;
      border-top: 1px solid #cccccc;
      margin-left: 1px;
    }

    p.fullimagecaption {
        color: white;
    }

    div.fullimagepage, div.moduletablepfi {
        text-align:center;
    }


    div.mostripthumb img, div.pictorialreportthumb img {
        border: #446622 solid 1px;
    }

    p.imageButtons {
        padding-top: 12px;
    }

    input[type="button"] {
        border-radius: 5px;
        padding: 4px;
    }

    span.inactiveimagelink, a.imagelink, input.closewindowbutton {
    padding: 4px;
        color:white;
        border-radius: 5px;
        background-color: #404040;
    }

    a.tripreportlink {
        color: #FFFF88;
    }

    a.tripreportlink:hover {
        color: #FFFFFF;
        background-color: #202020;
    }

    span.inactiveimagelink {
        color: gray;
        background-color: #202020;
    }

   a.imagelink:hover, input.closewindowbutton:hover {
        background-color:#606060;
        color: #ffffd0;
   }
    div.mostripthumb a {
        line-height: 1.0em;  /* Hack to suppress occasional mysterious extra space */
    }

    div.frontpageimages {
        background-color: white;
    }

    /* Frontpage image (variant of mostripimage) */
    /** **** CUT ALL THIS FROM HERE .... ****/
    div.frontPageImage {
      border: 1px solid #ccc;
      width: 174px;
      text-align: center;
      float: left;
      padding: 2px;
      margin: 2px;
      overflow: hidden;
    }

    /*
    html>body div.frontPageImage {
        width: 174px;
    }
    */

    div.frontPageImage a img {
        border: #669933 solid 1px;
        width: 170px;
    }

    div.frontPageImage p { /* The caption */
      margin-top: 2px;
      background: #efefef;
      color: #666;
      font-size: 10px;
      border-top: 1px solid #cccccc;
      width: 172px;
      text-align: center;
      margin-left: 1px;
    }

    div.frontPageImage img {
        border: 1px solid #999;
    }

    div.frontPageImage a {
        border: none
    }

    /**** to here (when front page images redone ***/

    div.spacer {
      clear: both;
    }

    div.GPXFileList {
        margin-top: 16px;
    }

    div.RouteMapList {
        margin-top: 16px;
    }

    #members td {
        padding-left: 3px;
        padding-right: 3px;
    }

    #members td.col1 {
        text-align: center;
    }

    /* Trip report submission form styles */

    form.tripreportform select {
        border: 1px solid black;
    }

    table.imageupload {
        width: 100%;
    }

    table.tripReportFiles th {
        padding-top:10px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    td.filenameTD {
        padding: 2px;
        margin-top: 5px;
        width: 72%;
    }

    table.fileUpload td.input {
        align: right;
        text-align: right;
    }

    table.fileUpload input {
        margin: 0;
    }


    button.changeFile {
        border: 1px solid;
        width: 75px;
    }

    /* Stuff for sorting resources when editing trip reports */
    .sortable-list {
        list-style-type: none; margin: 0; padding: 0
    }

    .sortable-list li {
        margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em
    }

    .sortable-list li span {
        position: absolute; margin-left: -1.3em;
    }

    .sortableThumb {
        width: 90px;
    }

    td.resource-selector {
        vertical-align: middle;
    }

    .resource-header {
        font-size: 120%;
        font-weight: bold;
        padding-left: 30px;
        padding-top: 20px;
        width: 100%;
    }

    .resource-header td {
        width: 50%;
    }


    td.resource-caption {
        width: 100%;
    }

    .caption-input {
        width: 100%;
    }

    .resource-delete-button {
        margin-left: 10px;
        margin-right: 30px;
    }

    .dummy-resource-slot {
        display: none;
    }


    /* Printable membershiplist styles */

    #Members4Printer * {
        font-family: Times New Roman, serif;
        font-size: 10pt;
        color: black;
        background: white;
        padding: 0px;
        padding-left: 4px;
        padding-right: 4px;
        border: 0px;
        margin: 0px;
        text-align: left;
    }

    #Members4Printer p {
        padding-bottom: 8pt;
    }

    #Members4Printer h2 {
        font-size: 16pt;
        padding-bottom: 8pt;
        text-align: center;
    }

    #Members4Printer table {
        border-collapse: collapse;
        padding-top: 8pt;
    }

    #Members4Printer td {
        border: #ccc solid 1px;
    }

    #Members4Printer td.col1, #Members4Printer th.col1 {
        text-align: center;
    }


        /* Loo loo styles */

    p.Song {
        color: #C00;
        text-align: center;
    }

        p.Comment {
        color: #171;
        font-style: italic;
    }

    /* Temporary hack for 4-part front page images with 2 vertical
     * (style mostripthumbv) and two horizontal (style mostripthumbh).
     * Delete in due course */

    div.mostripthumbv {
        width: 108px;
    }

    div.mostripthumbh {
        width: 140px;
    }


    div.mostripthumbv, div.mostripthumbh {
      border: 1px solid #ccc;
      text-align: center;
      float: left;
      padding: 2px;
      margin: 2px;
      overflow: hidden;
    }

    div.mosttripthumbv p {
      width: 106px;
    }

    div.mosttripthumbh p {
      width: 138px;
    }

    div.mostripthumbv p, div.mostripthumbh p { /* The caption */
      margin-top: 2px;
      background: #efefef;
      color: #444;
      font-size: 10px;
      border-top: 1px solid #cccccc;
      margin-left: 1px;
    }

    div.mostripthumbv img, div.mostripthumbh img {
        border: #446622 solid 1px;
    }

    /* End of temporary 4-part front page image styles */

}



/* PRINTER STYLES */
/* ============== */

@media print {
    * {
        font-family: Times New Roman, serif;
        font-size: 10pt;
    }

    #Members4Printer h2 {
        font-size: 16pt;
        padding-bottom: 8pt;
        text-align: center;
    }

    #Members4Printer table {
        border-collapse: collapse;
        padding-top: 8pt;
    }

    #Members4Printer td {
        padding: 5px;
        padding-left: 4px;
        padding-right: 4px;
        border: #ccc solid 1px;
    }

    #Members4Printer td.col1, #Members4Printer th.col1 {
        text-align: center;
    }

}
