/*  Styles for the CTC Trip Reports module */

/*
    Created on : 22/03/2015, 3:12:39 PM
    Author     : Richard Lobb
*/

:root {
  --dark-green: #00591d;
  --dark-green-hover: #176831;
  --navbar-green: #02501b;
  --background: #f5f6f5;
  --background-higher: #ebedeb;
  --masthead: #272d27;
  --orange: #E05A00;
  --yellowy: #F5AF00;
  --black: #212529;
  --on-dark: #f7f7f7f7;
}

body {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--background) !important;
}

h1, h2, h3, h4 {
  font-family:  'Lato', sans-serif;
}

h1 {
  color: var(--dark-green) ;
  margin-bottom: 1.0rem;
  font-size: 2.75rem !important;
  /* font-weight: 600; */
}

h2 {
  color: var(--dark-green) ;
  font-size: 2rem !important;
}

h3 {
  color: var(--dark-green) ;
  font-size: 1.3rem !important;
}

a, a:hover, a:visited, a:active, a:focus {
  color: var(--dark-green) !important;
}


.ctc-button, .ctc-button:link, .ctc-button:visited, .ctc-button:active {
    background-color: var(--dark-green) !important;
    border-color: var(--dark-green) !important;
    color: var(--on-dark) !important;
}

.ctc-button:hover {
  background-color: white !important;
  background-color: var(--dark-green-hover) !important;
}

div.iframe-buttons {
    float: right;
}

.error {
   background-color: #FA787E;
}

.table-nonfluid {
   width: auto !important;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.tripimage {
    text-align:center;
}

.captioned-thumbnail {
    padding: 2px;
    border: #B0B0B0 solid 1px;
    display: table;
}

p.image-caption {
    text-align: center;
    font-size: smaller;
}

.li_link {
    padding-bottom: 8px;
}

.caption-input {
    width: 30em;
}

table.image-table td {
    padding: 7px;
}

table.image-table th {
    text-align: center;
}

.resourcetable, .resourcetable td, .resourcetable th {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.map-links, .gpx-files {
    padding-left: 20px;
}

p.disclaimer {
    padding-top: 10px;
}

p.private-land {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    padding-left: 5px;
}

table.resourcetable {
    margin-bottom: 10px;
}

.dl-horizontal dt, .dl-horizontal dd {
    margin-top: 8px;
}

h3.resource-h3 {
    margin-top: 40pt;
}

#gpx-table td, #gpx-table th, #map-table td, #map-table th {
    padding-left: 10px;
    padding-right: 10px;
}

.report-card-title
{
    font-size: large;
}

.report-card-details
{
    color: black;
    font-size: small;
}

.btn-loading {
    color: #fff !important;
    background-color: var(--dark-green) !important;
    border-color: var(--dark-green) !important;
}